*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    /* flex-direction: column; */
}

.card{
    margin: 16px auto;
    /* padding:12px 22px; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    width: 250px;
    min-height: 400px;
    height: auto;
    border-radius: 25px;
}
.card img{
    margin: 0 auto;
    width: 250px;
    height: 175px;
    object-fit: contain;
    cursor: pointer;
}

.details{
    padding: 10px 10px;
    height: 120px;
}
.Product_name{
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
}
.Mens_Clothing{
    display: block;
    margin-bottom: 8px;
}
.stars{
    margin-bottom: 7px;
}
.Rating_Count{
    margin-bottom: 8px;
}

.btn{
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    padding: 5px;

}
.Buy{
    margin:5px;
    padding: 6px;
    background-color: rgb(24, 218, 24);
    color:aliceblue;
    font-size: 20px;
    /* font-weight: 500; */
    border-radius: 10px;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    border: none;
    
    
}
.fa-solid.fa-star{
color: yellow;
}